<!-- app/views/products/_lazy_loaded_content.html.erb -->

<% products.each do |product| %>
  <div class="lazy-loaded-product">
  <%= image_tag product.image, class: "p-5 object-cover" %>
  </div>
<% end %>
